* {
    box-sizing: border-box;
}

a {
    position: relative;
    transition: 0.5s;
}

a:hover{
    letter-spacing: 0.1em;
}

.header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 40px 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#logo {
   margin-left: 10px;
   width:400px;
   height:100px;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    display: inline;
    padding-bottom: 20px;
    position: relative;
    font-weight: 550;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(1, 57, 1);  
}

.navbar a::before{
    content:"";
    position: absolute;
    top:50%;
    left:0;
    width: 0;
    height: 2px;
    background-color:rgb(1, 57, 1);
    transition: 0.4s;
    font-weight: 500;
}

.navbar a:hover::before{
    width:100%
}

header{
    display: inline-block;
    height: 50px;
    width:100%;
}

body{
    background: url('background.jpg') no-repeat;
    background-size: cover;
    height: 450px;
}


.main{
    margin-top: 180px;
}

#cricket {
    margin-left: 140px;
    text-align: left;
    font-size: 70px;
    color:white;
    -webkit-text-stroke: 2.5px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#imp {
    margin-left: 140px;
    text-align: left;
    font-size: 30px;
    color:white;
    -webkit-text-stroke: 1.5px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
     font-size: 20px;
     -webkit-text-stroke: 0.3px black;
     margin-left: 140px;
     color:white;
     border-radius: 10px;
     height: 60px;
     width: 300px;
     padding:8px 22px;
     background:red;
     cursor: pointer;
     transition: 0.9s;
     border:white;
}

.btn1:hover {
    color:red;
    -webkit-text-stroke: 0.3px red;
    background-color: white;
    transition: 0.9s;
    border: red;
    border-width: 10px;
    letter-spacing: 0.1em;;
}

#lower{
    position: absolute;
    bottom:150px;
    display: inline;
}

#threebox div {
    display: inline;
    text-align: center;
}

#threebox{
    display: flex;
    background-color: none;
    align-content: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    border: black;
    border-width: 1em;
}

.first{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin-right: 50px;
    margin-left: 50px;
    height: 400px;
    width: 400px;
}

.second{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    height: 400px;
    width: 400px;
}

.third{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    border: 5px solid none;
    margin-right: 50px;
    margin-left: 50px;
    height: 400px;
    width: 400px;
}

#cup{
    padding-top: 20px;
    height: 70px;
    width: 70px;
    align-content: center;
}